layout{
    focus-ring{
        active-gradient from="#bec2ffcc" to="#e7b9d5cc" angle=135
        urgent-color "#ffb4ab"

        }
}
recent-windows {    
    highlight {
        active-color "#39393f"
        urgent-color "#ffb4ab"
    }
}
