layout{
    focus-ring{
        active-gradient from="#b2c5ffcc" to="#e1bbdccc" angle=135
        urgent-color "#ffb4ab"

        }
}
recent-windows {    
    highlight {
        active-color "#38393f"
        urgent-color "#ffb4ab"
    }
}
