// This config is in the KDL format: https://kdl.dev
// Check the wiki for a full description of the configuration:
// https://niri-wm.github.io/niri/Configuration:-Introduction

// ==================
// ENVIRONMENT VARS
// ==================
environment {
    QT_QPA_PLATFORM "wayland"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    QT_QPA_PLATFORMTHEME "gtk3"
    QT_QPA_PLATFORMTHEME_QT6 "gtk3"
    TERMINAL "kitty"
}

prefer-no-csd

 cursor {
    xcursor-theme "macOS"
    xcursor-size 24
} 


// ==================
// INPUT CONFIG
// ==================
input {
    keyboard {
        xkb {
            layout "us,ru"
            options "grp:win_space_toggle"
        }
        numlock
    }
    
    touchpad {
        tap
        natural-scroll
    }

    mouse {
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
/*        shake-to-enlarge {
            // Uncomment the next line to enable if it is off by default
            on
            grow 5
            grow-speed 0.01
            threshold 2000
            hold-duration-ms 1500
            zoom-factor 5
        } */      
        scroll-method "on-button-down"
        scroll-button 274
    }

     focus-follows-mouse max-scroll-amount="0%"
}

// ==================
// MONITOR CONFIG
// ==================
output "DP-2" {
    mode "1920x1080@144"
    position x=0 y=0
    scale 1.0
    variable-refresh-rate 
}

// ==================
// GENERAL LAYOUT & DECORATION
// ==================
layout {
    gaps 10
    center-focused-column "never"
    
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 1.0; }

    /-focus-ring {
        width 2
        active-color "#4803FF"
        inactive-color "#7242F5"
    }

    focus-ring {
        width 1
        active-gradient from="#F2A6A2" to="#FC90AA" angle=45
        //active-gradient from="#AECFE6" to="#F2A6A2" angle=45
        //inactive-gradient from="#2D3B54" to="#455A81" angle=45
        inactive-gradient from="#89b4fa"  to="#1e1e2e" angle=45
    }

    border {
        off
    }

    // You can enable drop shadows for windows if desired
    shadow {
        // on
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
}

// ==================
// STARTUP APPS
// ==================
spawn-at-startup "bash" "-c" "wl-paste --watch cliphist store &"
spawn-at-startup "/usr/lib/mate-polkit/polkit-mate-authentication-agent-1"
spawn-at-startup "waybar"
spawn-at-startup "swaync"
spawn-at-startup "systemctl" "--user" "start" "hyprpolkitagent"
spawn-at-startup "awww-daemon"
spawn-at-startup "sh" "-c" "~/.config/niri/auto-resize.sh"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "clipcatd"

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"




animations {
    // slowdown 3.0
}

// ==================
// WINDOW RULES
// ==================

window-rule {
    match is-active=true
    opacity 0.9
    draw-border-with-background false
}

window-rule {
    match is-active=false
    opacity 0.8
    draw-border-with-background false
    border {
        on
        width 1
        inactive-color "#7fc8ff"
    }
}

window-rule {
    match app-id=r#"com.spotify.Client"#
    opacity 0.6
}

window-rule {
    match app-id=r#"pavucontrol"# 
    open-floating true
}

window-rule {
    match app-id=r#"com.ayugram.desktop"#
    opacity 0.95
}

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r#"firefox"#
    opacity 0.95
}

window-rule {
    match app-id=r#"io.missioncenter.MissionCenter"#
    open-floating true
    opacity 0.7
    focus-ring {
        width 0
    }
    default-column-width { fixed 1200; }
    default-window-height { fixed 800; }
}

window-rule {
    match app-id=r#"org\.gnome\.Calculator"#
    open-floating true
    focus-ring {
        width 1
    }
    default-column-width { fixed 300;}
    default-window-height { fixed 500;}
}

window-rule {
    match app-id="discord"
}

// Your requested border radius and clipping
/-window-rule {
    geometry-corner-radius 25
    clip-to-geometry true
}

/*window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
    
    // Target the SwayNC notification layer specifically
    match layer="swaync"
    
    // Force it to stay on top of fullscreen windows
    open-on-output "focused"
    draw-behind-fullscreen false
} */

// ==================
// KEYBINDINGS
// ==================
binds {
    }

include "basicsettings.kdl" // Added by niri-settings

include "keybinds.kdl" // Added by niri-settingsfc90aa
